body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 5rem;
    font-family: 'Passion One', cursive;
    color:#D83A56;
}
h2{
    font-size:2.5rem;
    font-family: 'Bungee', cursive;
    
}
p{
    font-size:1.2rem;
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
}
.flex-container{
    display: flex;
    
}

.top-section{
    background-image:url(./images/header-bg.png) ;
    position: relative;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 200px ;
    
    
    
    
}
.home{
    margin:100px;
    
}

.intro{
    width:100%;
    padding-left: 100px;
    line-height:1;
    
    
   
}
.profil{
    width:100%;
    padding-left: 200px;
}
.middle-section{
    background-image: url(./images/biography-bg.png);
    position: relative; 
    background-repeat: no-repeat;
    padding: 200px;
    background-size:cover;
}
.biography{
    margin:100px ;
    
}
.bio-profil{
    width:100%;
   margin-left: 50px;
    
    
}


.bio-intro{
    width:100%;
}

.third-section{
        background-image: url(./images/latest-work-bg.png);
        text-align: center;
        position:relative ;
        background-size: cover;
        padding: 200px;
    }
.work{
    margin: 100px;

    
    
    


}

.size{
    margin:10px;  
    max-width:30%;
    max-height:30%;
    
}