body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 5rem;
    font-family: 'Passion One', cursive;
    color:#D83A56;
}
h2{
    font-size:2.5rem;
    font-family: 'Sansita', sans-serif;
    
    
}
h4{
    color:#DEEDF0;
}

p{
    font-size:1.2rem;
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
}
.cheers{
    font-family: 'Bungee', cursive;
}
.flex-container{
    display: flex;
    
}

.top-section{
    background-image:url(./images/header-bg.png) ;
    position: relative;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 200px ;
    
    
    
    
}
.home{
    margin:100px;
    
}

.intro{
    width:100%;
    padding-left: 100px;
    line-height:1;
    
    
   
}
.profil{
    width:100%;
    padding-left: 200px;
}
.middle-section{
    background-image: url(./images/biography-bg.png);
    position: relative; 
    background-repeat: no-repeat;
    padding: 200px;
    background-size:cover;
}
.biography{
    margin:100px ;
    
}
.bio-profil{
    width:100%;
   margin-left: 50px;
    
    
}


.bio-intro{
    width:100%;
}

.third-section{
        background-image: url(./images/latest-work-bg.png);
        text-align: center;
        position:relative ;
        background-size: cover;
        padding: 200px;
    }
.work{
    margin: 100px;

}

.size{
    margin:10px;  
    max-width:30%;
    max-height:30%;
    
}
.end-section{
    text-align: center;
    background-image: url(./images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px;
}
.client-part{
    margin: 100px;

}
.bottom-section{
    text-align:center;
    background-color:#66BFBF;
    padding:50px 0 20px;
 
 }
 a{
    color:#11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    text-decoration: none;
}
 a:hover{
    color:#EAF6F6;
}
.copyright{
    color:#EAF6F6;
    font-size:0.75rem;
    padding:20px 0;
}
.btn {
    background: #D83A56;
    background-image: -webkit-linear-gradient(top, #D83A56, #FF616D);
    background-image: -moz-linear-gradient(top, #D83A56, #FF616D);
    background-image: -ms-linear-gradient(top, #D83A56, #FF616D);
    background-image: -o-linear-gradient(top, #D83A56, #FF616D);
    background-image: linear-gradient(to bottom, #D83A56, #FF616D);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #FFC107;
    background-image: -webkit-linear-gradient(top, #FFC107, #E5D549);
    background-image: -moz-linear-gradient(top, #FFC107, #E5D549);
    background-image: -ms-linear-gradient(top, #FFC107, #E5D549);
    background-image: -o-linear-gradient(top, #FFC107, #E5D549);
    background-image: linear-gradient(to bottom, #FFC107, #E5D549);
    text-decoration: none;
  }
